/* CSS Variables */
:root {

	/* Typography */

	/* Sets variables for fonts & font color throughout the website */
	--heading-font: 'Roboto Condensed', sans-serif;
	--heading2-font: 'Vollkorn', serif;
	--body-font: 'Maven Pro', sans-serif;

	--main-font-color: red; 


}

* {
	box-sizing: border-box;
	color: var(--main-font-color)
}

h1 {
	font-family: var(--heading-font);
}

h2, h3, h4 {
	font-family: var(--heading2-font);
}

p, a {
	font-family: var(--body-font);
}

nav {
	border: 2px red solid;
}

.container {
	border: 2px purple solid;
}

article {
	border: 2px green solid;
}

.portfolio {
	border: 2px blue solid;
}

article, .portfolio, .contact {
	margin: 1rem;
	padding: 1rem;
}

.twitter-btn, .gmail-btn {
	width: 100%;
}
